{% extends 'base.html.twig' %}

{% block title %}Partidos{% endblock %}

{% block body %}
    <h1>Partidos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
            <tr>
                <th>GolesLocal</th>
                <td>{{ partido.golesLocal }}</td>
            </tr>
            <tr>
                <th>GolesVisitante</th>
                <td>{{ partido.golesVisitante }}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{ partido.resultado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partidos_index') }}">back to list</a>

    <a href="{{ path('partidos_edit', {'id': partido.id}) }}">edit</a>

    {{ include('partidos/_delete_form.html.twig') }}
{% endblock %}
