{% extends 'base.html.twig' %}

{% block title %}Entrenador{% endblock %}

{% block body %}
    <h1>Entrenador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrenador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entrenador.Nombre }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ entrenador.Foto }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entrenador.Nacionalidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrenador_index') }}">back to list</a>

    <a href="{{ path('entrenador_edit', {'id': entrenador.id}) }}">edit</a>

    {{ include('entrenador/_delete_form.html.twig') }}
{% endblock %}
